.TopicForm {
  padding: 0px 4px 0px 4px;
  width: 100%;
}

.error-message {
  padding-bottom: 4px;
  color: red;
  font-size: 12px;
}

.button {
  color: #fefefe;
  background-color: #e63946;
}

input:focus {
  outline: none;
}

.button:hover {
  color: #fefefe;
}
