.App {
  min-width: 320px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e63946;
  color: #fefefe;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
}

.App-body {
  width: 100%;
  padding: 8px;
}
